/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
/resources/views/vendor
/config
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sublime-project
*.sublime-workspace
composer.phar
docker-compose.yml
composer.json
composer.lock
