.campos{
 	border-style: solid;
	border-color:black;
	border-width:1px;
 }
.contenedor{
width: 100%;
}
 /*#read{
 	display: inline-block;
 	border-style: solid;
 	border-width: 1px;
	width:65% 

 }
 #create{
 	display: inline-block;
	width:33%;
 }
 #botones_create{
	position: absolute;	
	bottom:20;
 }*/
 